.searchbar-form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin: 20px auto; */
    height: 70px;
}

.searchbar-input {
    border-radius: 10px 0 0 10px;
    background-color: #eee;
    border: none;
    padding: 10px 15px;
}

.searchbar-input:focus {
    outline: 1px solid rgb(6, 71, 156);
}